*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    zoom: 1;
}

.logo{
    width: 15vh;
    height: 15vh;
}
aside{
    float: right;
}
nav{
    max-height: 15vh;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 5vh;
    color: #fff;
    position: relative;
}
nav ul li a::before{
    content: "";
    width: 0%;
    height: 3px;
    background: red;
    position: absolute;
    right:0px;
    bottom: -10px;
    transition: 0.2s;
}
nav ul li a:hover::before{
    width: 100%;
}
h1{
    margin: 20vh 50px 0px 50px;
    font-size: 8vh;
    color: #fff;
}
h1 span{
    color: rgb(12, 197, 226);
}
.container{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 50px;
}
.projects{

    background-color: #fafcf0;
}
.projects:hover{

}
img{
    width: 500px;
    height: 250px;
}
a{
    align-self:center;
    text-decoration: none;
}
a h2{
    text-decoration: none;
}
a div{
    height: 50px;
    width: 150px;
    padding: 12px;
}

a div:hover {
    background-color: rgb(18, 237, 190);
}
a div:active {
    background-color: rgb(147, 147, 231);
  }